<!DOCTYPE html>
<html lang="en">

<head>
    <title>Upload subtitles</title>

    <%- include common_header.ejs %>
    <script src="/admin/js/admin_movie.js"></script>

    <script>
        $(document).ready(function(){
            $('#left_menu_movie_mgt', $('#sideNavMenu')).addClass('has-active');    //open it
            $('#item_movie_upload_subtitle', $('#sideNavMenu')).addClass('g-color-pink');
        });
    </script>
</head>

<body>
<!-- Header -->
<%- include admin_topbar.ejs %>
<!-- End Header -->

<main class="container-fluid px-0 g-pt-65">
    <div class="row no-gutters g-pos-rel g-overflow-hidden">
        <!-- Sidebar Nav -->
        <%- include admin_left_panel.ejs %>
        <!-- End Sidebar Nav -->

        <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">

            <!-- core content -->
            <div class="g-pa-20">
                <div class="col-md-8">
                    <!-- Basic Text Inputs -->
                    <div class="g-pa-15 g-pa-20--md g-mb-30">
                        <table id="tbl_form">
                            <tr>
                                <td>Choose multiple files (*.srt)</td>
                                <td>
                                    <input multiple type="file" id="subtitle_files" accept=".srt" onchange="adminMovie.on_selected_subtitles();"/>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div>Upload status:</div>
                        <table id="file_list" border="1">
                        </table>
                    </div>
                    <!-- End Basic Text Inputs -->

                </div>
            </div>
            <!-- END core content -->
            <!-- Footer -->
            <footer id="footer" class="u-footer--bottom-sticky g-bg-white g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-20">
                <div class="row align-items-center">
                    <!-- Footer Copyrights -->
                    <div class="col-md-4 text-center text-md-right">
                        <small class="d-block g-font-size-default">&copy2021. All Rights Reserved.</small>
                    </div>
                    <!-- End Footer Copyrights -->
                </div>
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</main>

</body>

</html>
