<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">
                    <small id="textreserch">This site is archive for academic research purpose.</small>
                </p>
                <p class="mb-0">
                    <small id="showlang hidden"></small>
                    <small id="showip hidden"></small>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/frontconstant.min.js"></script>
