<header class="custom-header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" id="navbar_container">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" id="about-lg"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usecase" id="usecase-lg"></a>
                    </li>
                  
                </ul>
            </div>
            <a href="https://solji.kim/" class="nav-link custom-logo"><img src="../img/solji.kim_banner_360x153.png" class=""></a>
        </nav>
    </div>
</header>
