<!DOCTYPE html>
<html lang="en">
<head>
  <title>Reset password</title>
  <%- include('common_head.ejs') %>
</head>
<body class="login-body">
  <div id="myDiv" style="display:none;">
    <div class="loader"></div>
  </div>
  <%- include('common_header.ejs') %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
          <div class="login-signup-box">
            <h1 class="page-title" id="resetpwdttl">Reset Password</h1>
            <div class="white-box">
              <div class="alert alert-success" style="display: none;">
                <label class="mb-0" id="success-message"></label>
              </div>
              <div class="alert alert-danger"  style="display: none;">
                <label class="mb-0" id="error-message"></label>
              </div>
              <form action="" method="POST" id="new-pwd">
                <div class="form-group">
                  <label id="newpwdttl">New Password:</label>
                  <input type="password" class="form-control" minlength="8"  name="password" id="password" >
                </div>
                <div class="form-group">
                  <label id="confnewpwdttl">Confirm Password:</label>
                  <input type="password" class="form-control" minlength="8" name="cpwd" id="cpwd" >
                  <span id="pwd-val-message" style="display: none;color: red"></span>
                </div>
                <input type="hidden" name="emailtoken" id="emailtoken" >
                <!-- <a href="login.html" class="btn btn-theme btn-block">Save</a> -->
                <button type="submit" class="btn btn-theme btn-block" id="savebtn">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/frontconstant.min.js"></script>
<script src="js/valid.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/resetpassword.js"></script>
</body>
</html>
