<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sign up</title>
  <%- include('common_head.ejs') %>
</head>
<body class="login-body">
<%- include('common_header.ejs') %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1">
          <div class="login-signup-box text-center">
            <h1 class="page-title" id="thanksttl">Thank you for joining us!</h1>
            <!-- <div class="white-box text-center"> -->
              <p id="contatsttl">
                  We sent you a account activation link to your email. Please check your inbox.
              </p>
              <a href="/" class="btn btn-theme mt-3" id="gobackttl">
                Go back to main page
              </a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/frontconstant.min.js"></script>
<script src="js/signup-success.js"></script>
</body>
</html>
