<!DOCTYPE html>
<html lang="en">

<head>
  <title>Use case</title>
  <%- include('common_head.ejs') %>
</head>

<body>
  <%- include('common_header.ejs') %>
    <main>
      <div class="container">
        <h1 class="page-title" id="usecasettl">
        </h1>
        <img class="img-fluid" src="img/apiplayer.png" style="width:100%;" />
        <div class="mt-4">
          <p id="usecasettl1">
          </p>
          <p id="usecasettl2">
          </p>
          <p id="usecasettl3">
          </p>
          <p id="usecasettl4">
          </p>
        </div>
      </div>

      <section class="api-player-step">
        <div class="container">
          <h3 id="usecasettl5"></h3>
          <ul class="list-inline mt-2">
            <li class="list-inline-item">
              <!-- <a href="https://apiplayerdownload.s3.ap-northeast-1.amazonaws.com/installer/APIPlayer_022.1.exe"> -->
              <a href="https://apiplayer.app/" target="_blank">
                <img src="img/w10.png" height="50" />
              </a>
            </li>
            <!--<li class="list-inline-item">-->
            <!--<a href="javascript:void(0)">-->
            <!--<img src="img/mac.png" height="50" />-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="list-inline-item">-->
            <!--<a href="javascript:void(0)">-->
            <!--<img src="img/ubuntu.png" height="50" />-->
            <!--</a>-->
            <!--</li>-->
          </ul>

          <h3 id="usecasettl7"></h3>
          <!-- <a href="javascript:void(0)" class="btn btn-theme js-copy" id="usecasettl8"> -->
          <ul class="list-inline mt-2">
            <li class="list-inline-item">
              <a style="width:130px;" href="javascript:void(0)" class="btn btn-theme js-copy" id="av"></a>
              <span class="js-content" style="display: none;">solji.kim</span>
            </li>
            <li class="list-inline-item">
              <a style="width:130px;" href="javascript:void(0)" class="btn btn-theme js-copy" id="movie_new"></a>
              <span class="js-content" style="display: none;">imdb7.plus</span>
            </li>
          </ul>

          </a>
          <span class="js-content" style="display: none;">http://18.183.116.70/api</span>
          <h3 id="usecasettl9"></h3>
          <p id="usecasettl10">
          </p>
          <p class="mt-4" id="usecasettl11">

          </p>
        </div>
      </section>

      <div class="container">
        <img class="img-fluid" src="img/imgpsh_fullsize_anim.png" style="width:70%;"/>
      </div>

    </main>
    <%- include('common_footer.ejs') %>
      <script>
        $(document).ready(function () {
          checklang();
          copyText();
          //clear active menu class
          $('.nav-link', $('#navbar_container')).removeClass('active');
          $('#usecase-lg', $('#navbar_container')).addClass('active');
        });

      </script>
</body>

</html>