<!DOCTYPE html>
<html lang="en">
<head>
  <title>Verify password</title>
  <%- include('common_head.ejs') %>
</head>
<body class="login-body">
  <div id="myDiv" style="display:none;">
    <div class="loader"></div>
  </div>
  <%- include('common_header.ejs') %>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-sm-8 offset-sm-2">
          <div class="login-signup-box">

            <div class="white-box">
              <div class="alert alert-success" style="display: none;">
                <label class="mb-0" id="success-message"></label>
              </div>
              <div class="alert alert-danger"  style="display: none;">
                <label class="mb-0" id="error-message"></label>
              </div>
              <p id="verifyst">
                We’ve sent you an email verification code. Please enter 6 digit code sent to your email.
              </p>
              <form method="GET" id="verification-code">
              <ul class="list-inline mb-0 text-center">
                <li class="list-inline-item">
                  <input type="txet" name="emailtoken" id="emailtoken" placeholder="" minlength="6" maxlength="6">
                </li>
                <li class="list-inline-item">
                  <!-- <a href="reset-password.html" class="btn btn-theme">
                    Verify
                  </a> -->
                  <button type="submit" class="btn btn-theme" id="verifybtn">Verify</button>
                </li>
              </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/frontconstant.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/verifypassword.js"></script>
</body>
</html>
