/*::::::::::::::::::::::::::::::::::::::::
Globle CSS
::::::::::::::::::::::::::::::::::::::::*/
html, body{margin:0;padding:0;position:relative;z-index:0;}
body{font-size:15px;line-height:22px;color:#292929;font-family: 'Roboto', sans-serif;width:100%;margin:0 auto;}
body.login-body{background: #f5f5f5;}
h1,h2,h3,h4,h5,h6{font-family: 'Roboto', sans-serif;font-weight: 700;margin-bottom: 1rem;}
a{-webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;outline:none;text-decoration:none;}
a:hover{text-decoration:none;outline:none;-webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
img{max-width:100%;/*height:auto;*/}
::-webkit-input-placeholder {color:#2f2f39;}
:-moz-placeholder {color:#2f2f39;}
::-moz-placeholder {color:#2f2f39;}
:-ms-input-placeholder {color:#2f2f39;}
.smooth, .smooth:hover{-webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="search"],
select,
textarea{color: #292929;width: 100%;position: relative;display: inline-block;outline: none;padding: 5px 10px;font-size: 14px;-webkit-transition: all 0.5s ease-out;-moz-transition: all 0.5s ease-out;-ms-transition: all 0.5s ease-out;-o-transition: all 0.5s ease-out;transition: all 0.5s ease-out;border-radius: 3px;background-color: #ffffff;border: 1px solid #dfdfdf;}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus
{-webkit-transition:all 0.5s ease-in-out;-webkit-transition:all 0.5s ease-out; -moz-transition:all 0.5s ease-out; -ms-transition:all 0.5s ease-out; -o-transition:all 0.5s ease-out;transition:all 0.5s ease-out;}
textarea{max-width:100%;height:135px;resize: none}

.btn-theme{
    border: 1px solid #e84971;
    background: #e84971;
    color: #fff;
    font-weight: 700;
}
.btn-theme:hover, .btn-theme:focus{
    border: 1px solid #e15b6e;
    background: transparent;
    color: #9a4c79;
}

.page-title{font-size: 32px;}
.text-link, .text-link:hover{color: #333;text-decoration: underline;}
/*Header*/
header {
    padding: 10px 0;
    border-bottom: 1px solid #333;
    background: #fff;
}
header.after-login {
    padding: 18px 0;
}
header .navbar{padding: 0}
header .navbar .navbar-nav .nav-link{padding: 0 !important;color: #292929;}
header .navbar .navbar-nav .nav-link.active, header .navbar .navbar-nav .nav-link:hover, header .navbar .navbar-nav .nav-link:focus {color: #7f7f7f;}
header .navbar .navbar-nav .nav-item:not(:last-child){margin-right: 40px;}

/*Footer*/
footer{padding: 20px 0; border-top: 1px solid #ddd;}
/*main block*/
main{padding: 50px 0;}

.login-signup-box {
    max-width: 450px;
    margin: 0 auto;
}
.white-box {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(204, 204, 204, 0.8);
}
.login-signup-box .white-box input{
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: none;
    border: 1px solid #ccc;
}

.about-content .page-title{font-size: 60px;}
.about-content h2{font-size: 30px;font-weight: 400;}
.about-site {
    padding: 50px 0;
    background: #f5f5f5;
    margin: 30px 0 0;
}
.about-site h3{font-size: 20px;}
.api-player-step h3 {
    font-size: 18px;
    padding-top: 30px;
}
.api-player-step ul li:not(:last-child){margin-right: 40px;}
.api-player-step img{height: 100px;margin-top: 15px;}

#myDiv {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
}

#myDiv .loader {
    border: 8px solid #ddd;
    border-radius: 50%;
    border-top: 8px solid #9a4c79;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);
}

.error {
    color: #ff0000;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main-captcha{
    transform: scale(0.82) !important;
    -webkit-transform: scale(0.82) !important;
    transform-origin: 0px 0px 0px !important;
    -webkit-transform-origin: 0 0;
}
.alert label{margin-bottom: 0 !important;}

.rc-anchor-light.rc-anchor-normal{padding: 5px !important;}
.rc-anchor-normal {height: 80px !important;}


.cms-content, .cms-content p, .cms-content ul, .cms-content ul li, .cms-content a {
    font-size: 16px;
    line-height: 28px;
}
.cms-content ul{margin-bottom: 16px;}
.cms-content h2 {
    font-size: 26px;
    margin: 16px 0 20px;
}
.cms-content h3 {
    font-size: 23px;
    margin: 16px 0 20px;
}
.cms-content h4 {
    font-size: 20px;
    margin: 16px 0 20px;
}


/*Video page*/
.open-mfp {
    overflow: hidden;
}
.video-gallery figure a{position: relative;display: block;}
.video-gallery figure a:before {
    content: "\25B6";
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 37px;
    text-indent: 4px;
    border: 4px solid;
    border-radius: 100%;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    position: absolute;
    z-index: 1;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.video-gallery figure video {
    width: 100%;
    cursor: pointer;
}
/*.mfp-iframe-holder .mfp-content{
    max-width: 90%;
    height: 90vh;
}*/
#videoModal .modal-header {
    padding: 0;
}
#videoModal .modal-header .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    background: #222222;
    opacity: 1;
    color: #fff;
    line-height: 0;
    left: 0;
    right: 10px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: -1px 1px 5px #222222;
}
#videoModal .modal-body video {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}
/*#videoModal .modal-body{
    max-height: 500px;overflow-y: auto;
}*/

@media(max-width:1199px){
    main {padding: 50px 0;}
    .about-site{margin-top: 40px;}
    .page-title {font-size: 28px;}
}
@media(max-width:991px){
    .page-title {font-size: 25px;}
    main {padding:30px 0;}
    .about-site{margin-top: 30px;}
}

@media(max-width:767px){
    .page-title {font-size: 22px;}
    main {padding: 20px 0;}
    .about-site{margin-top: 20px;}
    header .navbar {padding: .5rem 1rem;background: #f5f5f5;}
    header .navbar-dark .navbar-toggler {background: #333;position: relative;margin-left: auto;}
    header .navbar .navbar-nav .nav-item:not(:last-child) {margin-right: 0px;}
    header .navbar .navbar-nav .nav-item{padding: 5px 0;}
    header .navbar-collapse {background: rgba(0, 0, 0, 0.6);padding: 15px;}
    header .navbar .navbar-nav .nav-link.active, header .navbar .navbar-nav .nav-link:hover {color: #fec105;}
    header .navbar .navbar-nav .nav-link {color: #fff;}
    .collapse.in {
        display: block;
        height: auto !important;
        visibility: visible;
    }
    .iframe_video iframe {width:360px;height:240px;}
}
@media(max-width:575px){
    .about-content .page-title {font-size: 45px;}
    .about-content h2 {font-size: 21px;}
    .white-box{margin-bottom: 20px;}
    .api-player-step img {height: 60px;}
}


.home-slider{position: relative;}
.home-slider .carousel-item{position: relative; height: 100vh; overflow: hidden;}
.home-slider .carousel-inner  .carousel-item img {
    width: 100%;
    height: 100%;object-fit: cover;
}

.logo{ width: 150px !important; position: absolute; top: 24px; left: 30px; z-index: 999;}
.slider-overlay{z-index: 998;position: absolute;  left: 0; right: 0;top: 45%; bottom: 0; width: 100%; text-align: center; color: white;}
.btn-yellow{ position: absolute; left: 0; right: 0; bottom: 40px; width: 470px; margin: auto; color: white; font-weight: bolder; text-decoration: none; background-color: #08b5e2; border-radius:8px;font-size: 20px; padding: 1em 0.8em; }
.btn-yellow:hover{color: #fff !important; text-decoration: none;}
.slider-overlay p{font-size: 26px; font-weight: bold; margin-bottom: 3em; }
.slider-overlay h1{font-weight: bolder;font-size: 2.2rem; margin-bottom: 0;} 

.custom-header{height: 73px;padding: 0;  }
.custom-logo{position: absolute; right: 0; width: 170px; top: 0px; padding: 0;}
.custom-header .navbar .navbar-nav .nav-link{font-size: 1.3rem;}
.custom-header .navbar{padding-top: 1.4em;}
.custom-btn{background-color: #08b5e2; color: white; font-weight: 600; width: fit-content; padding: 0.7em 1.2em;}

@media(max-width: 767px){
    .logo{ width: 120px !important;left: 20px;}
    .slider-overlay h1{font-size: 1.8rem;} 
    .home-slider .carousel-inner  .carousel-item img {object-fit: cover;}
    .slider-overlay p{font-size: 20px;}
    .custom-logo{position: absolute; left: 6px; width: 100px; top: 20px;}

}
@media(max-width: 767px){
    .custom-header{height: 70px; padding: 0;}
    .custom-header .container{padding: 0;}
}

@media(max-width: 567px){
    .logo{ width: 100px !important;}
    .slider-overlay h1{font-size: 1.8rem;}
    .btn-yellow{ font-size: 16px; padding: 1em 0.9em; max-width: fit-content;}
    .api-player-step ul li:not(:last-child){margin-right: 10px;}
    .slider-overlay{top: 45%;}

}
@media(max-width:399px){
    .btn-yellow{width: 280px;}
}
